<%-include('../cabecalho.ejs')%>
<h1>Criar Categoria</h1>
<div>
<a href="/categoria/lst">Listar</a>
</div>
<div>
    <form  method="post" >
        <label>Nome:</label>
        <input type="text" name="nome"><br>

        <label>Descrição:</label>
        <input type="text" name="descricao"><br>

        <button type="submit">Cadastrar</button>
        
    </form>
</div>

<%-include('../rodape.ejs')%>