<%-include('../cabecalho.ejs')%>
    <h1>Criar Categoria</h1>
    <div>
        <a href="/filme/lst">Listar</a>
    </div>
    <div>
        <form method="post" enctype="multipart/form-data">
            <label>Titulo:</label>
            <input type="text" name="titulo"><br>

            <label>Classificação:</label>
            <select type="text" name="classificacao">
                <option value="L">L</option>
                <option value="10">10</option>
                <option value="12">12</option>
                <option value="14">14</option>
                <option value="18">18</option>
            </select>


            <label>Lançamento:</label>
            <input type="date" name="anoLancamento"><br>

            <label>Capa:</label>
            <input type="file" name="capa" accept="image/png">

            <label>Filme:</label>
            <input type="url" name="video"><br>

            <label>Categoria</label>
                <select name="categoria">
                    <option value="">Selecione</option>
                        <% Categorias.forEach(function(Categoria){ %>
                            <option value="<%=Categoria._id%>"><%=Categoria.nome%></option>
                        <%})%>
                </select>

            <button type="submit">Cadastrar</button>

        </form>
    </div>

    <%-include('../rodape.ejs')%>